- set_meta_tags title: "出品商品一覧"
- breadcrumb  :system_products

= render "/system/main/select_company", { companies: @companies, company_id: session[:system_company_id] }

= render "/bid/products/list", { products: @products, search: @search } if @company
