- set_meta_tags title: "画像ファイル検索 02"
/ - breadcrumb :system_something, "出品商品履歴"

css:
  .thumbnail.product-pannel_02 .btn-sort-img {
    position: absolute;
    top: 194px;
    left: 8px;
  }

  .thumbnail.product-pannel_02 .dist-label {
    position: absolute;
    top: 218px;
    right: 8px;
  }

  .thumbnail.product-pannel_02 {
      width: 200px;
      height: 260px;
      margin: 0;
      white-space: normal;
      display: inline-block;
      vertical-align: top;
      padding: 0;
      border-radius: 0;
      border: 0;
      position: relative;
      margin: 0 6px 6px 0;
      text-align: center;

  }

  .thumbnail.product-pannel_02 a.product_link {
    padding: 0;
    border: 1px solid whitesmoke;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;

    width: 100%;
    height: 100%;
  }

  .thumbnail.product-pannel_02 a.product_link:hover {
    background: #fff;
    border: 1px solid #258a01;
  }


  .thumbnail.product-pannel_02 .thumb_img {
    width: 100%;
    background: #EEE;
    position: relative;
    height: auto;
    height: auto;
  }

  .thumbnail.product-pannel_02 .thumb_img:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .thumbnail.product-pannel_02 .thumb_img img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      display: block;
      margin: auto;
      position: absolute;
      min-width: unset !important;
      max-height: unset !important;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      object-fit: cover;
  }

  .thumbnail.product-pannel_02 .name {
      bottom: 4rem;
      top: unset;
      width: 90%;
      margin: 0 5%;
      text-align: center;
      font-size: 1.2rem;
      color: #000;
      font-weight: 700;
      line-height: 2rem;

      height: 18px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: absolute;
  }

  .thumbnail.product-pannel_02 .price, .thumbnail.product-pannel_02 .finish_price {
    bottom: 2rem;
    top: unset;
    text-align: center;
    width: 90%;
    margin: 0 5%;
    color: #333;
    position: absolute;
  }

  .thumbnail.product-pannel_02 .price span.max_price_label {
      font-size: 1rem !important;
      line-height: 20px;
      color: #333;
  }

  .thumbnail.product-pannel_02 .price span.max_price, .thumbnail.product-pannel_02 .success_price {
    font-size: 1.5rem;
    line-height: 20px;
    margin-left: 4px;
    color: #E50;
    font-weight: normal;
  }

  .thumbnail.product-pannel_02 .dist-label {
    top: 238px;
  }

  .product_area {
    margin-left: -6px;
    margin-right: -6px;
  }

  .mini_thumb {
    display: inline-block;
    margin: 4px;
    width: 80px;
    height: 80px;
  }

  .mini_thumb {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
    position: absolute;
    min-width: unset !important;
    max-height: unset !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
  }

  .thumbnail.product-pannel_02 .nitamono {
    border-radius: 5px;
    padding: 0;
    bottom: 110px;
    position: absolute;
    right: 12px;
    background: rgba(255,255,255,0.75);

    display: block;
    width: 36px;
    height: 36px;
    margin: auto;
    text-align: center;

    border: 0;
  }

  .nitamono .glyphicon-camera {
    font-size: 22px;
    color: #111;
  }

  img.upload_image {
    max-width: 320px;
    max-height: 240px;
  }

.breadcrumb
    li = link_to "画像特徴ベクトル検索・ソート ", "/system/playground/search_01"
    li = link_to "画像ファイル検索", "/system/playground/search_02"

= form_tag("/system/playground/search_02", enctype: "multipart/form-data", method: "post", class: "form-inline filtering-form") do

  / = text_field_tag :keywords, @keywords.to_s, class: "form-control", placeholder: "キーワードから探す - 空白区切りでAND検索できます"
  / = select_tag :genre_id, options_for_select(@genre_selector, selected: params[:genre_id]), {include_blank: "-- カテゴリ --", class: "form-control"}

  / = select_tag :type, options_for_select({"ノルム(NArray)" => :narray, "ノルム(NArray) + 一括キャッシュ" => :redis, "ノルム(NArray) + 個別キャッシュ" => :solo_cache, "ノルム" => :norm, "角度(コサイン類似度)" => :angle}, selected: params[:type]), {class: "form-control"}

  / = select_tag :scope, options_for_select({"類似画像ソート" => :sort, "類似画像検索" => :all}, selected: params[:scope]), {class: "form-control"}

  = file_field_tag "image", class: "form-control", accept: 'image/jpg,image/jpeg,image/png'

  = hidden_field_tag :type, :redis

  = button_tag class: "btn btn-info" do
    span.glyphicon.glyphicon-search
    span.btn-content 検索

  = link_to "/system/playground/search_02", class: "btn btn-danger pull-right" do
    span.glyphicon.glyphicon-remove
    span.btn-content リセット

  .
    - if params[:image]
      h4 「#{params[:image].original_filename}」に類似した商品検索 (検索速度 : #{@time} sec)
      / = render "product_panel_03_img", product: @target, r: :src_pnl
      = image_tag("/system/playground/image.jpeg?filename=#{params[:image].original_filename}", alt: "", class: "upload_image")

      hr

      .product_area
        -(@products).each do |pr|
          = render "product_panel_03_img", product: pr, r: :src_pnl

    - else
      .alert.alert-success
        span.glyphicon.glyphicon-info-sign
        span.btn-content 画像ファイル(JPEG)を選択肢検索をしてください
