- set_meta_tags title: "入札訂正"
- breadcrumb  :system_bids_edit

= render "/system/main/select_company", { companies_selector: @companies_selector, company_id: session[:system_company_id] }

= render "/bid/bids/edit", { open_now: @open_now, product: @bid.product, bid: @bid, bids: @bids, search: @search } if @company
