- set_meta_tags title: "落札結果 出品集計"
- breadcrumb  :system_something, "落札結果 出品集計"

= render "/system/main/select_company", { companies: @companies, company_id: session[:system_company_id] }

= render "/bid/bids/shuppin_sum", { open_now: @open_now, products: @products, search: @search } if @company
