coffee:
  $ ->
    $('.js-csv-upload').fileinput
      showPreview: false
      maxFileCount: 1
      browseClass: 'btn btn-info fileinput-browse-button'
      browseIcon: '<span class="glyphicon glyphicon-folder-open"></span>'
      browseLabel: ' ファイル選択'
      removeClass: 'btn btn-warning'
      removeIcon: '<span class="glyphicon glyphicon-remove"></span>'
      removeLabel: ' キャンセル'
      uploadClass: 'btn btn-success fileinput-upload-button'
      uploadIcon: '<i class="fa fa-upload"></i>'
      uploadLabel: ' アップロード'
      allowedFileExtensions: ['csv']
      msgValidationError: '''
        <span class="text-danger">
          <span class="glyphicon glyphicon-alert"></span>アップロードできるファイル形式はCSVです。
        </span>
      '''

ul.nav.nav-pills
  li = link_to "/products_template.csv", class: "btn btn-default btn-square" do
    span.glyphicon.glyphicon-download-alt
    span.btn-content テンプレートCSV
      
.col-md-6.col-md-offset-3
   .form-group
     = label_tag :csv, "CSVファイル"
     = file_field_tag :file, class: "js-csv-upload", required: "required"
     .help-block
       . 機械名、最低入札金額は必須です
       . ジャンルは自動判別します
   
   = button_tag(data: { "disable-with" => "アップロード中..."}, class: "btn btn-default btn-square btn-submit center-block") do
     span.glyphicon.glyphicon-upload
     =< "アップロード"
