scss:
  .ef {
    border: 1px solid #000;
    height: 12.5%;
    width: 33%;
    float: left;
    position: relative;
    paggin: 0;
    font-family: "VL PGothic", sans-serif;
    
    .app_no {
      position: absolute;
      bottom: 3mm;
      left: 3mm;
      font-size: 10mm;
    }
    
    .qr {
      position: absolute;
      top: 10mm;
      right: 5mm;
    }
  }

.print-pdf
  - params[:num].to_i.times.each do |n|
    - (1..24).each do |m|
      .ef
        .app_no #{@company.no}-#{n*24+m}
        / .qr = image_tag "#{root_url}system/list/#{p.id}/qr.png?place=ef"
        .qr = image_tag System.qrcode("#{root_url}qr?company_no=#{@company.no}&app_no=#{n*24+m}&place=ef")

  / - @products.each.with_index do |p, i|
  /   .ef
  /     .app_no #{p.company.no}-#{p.app_no}
  /     .qr = image_tag "#{root_url}system/list/#{p.id}/qr.png?place=ef"
      
    / - break if i > 500
    
  
