doctype html
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    = display_meta_tags site: "機械団地電子入札システム2", reverse: true, separator: "｜", nofollow: true, noindex: true

    / = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => :reload
    / = stylesheet_link_tag    asset_url('bt.css'), media: 'all', 'data-turbolinks-track' => :reload
    / = javascript_include_tag 'application', 'data-turbolinks-track' => :reload
    = csrf_meta_tags

    = analytics_init if Rails.env.production?

    css:
      * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      body.bt {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.428571429;
        color: #333333;

        background-color: #F4F6EB;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      body.bt .container {
          margin-right: auto;
          margin-left: auto;
          padding-left: 15px;
          padding-right: 15px;
      }

      @media (min-width: 1200px) {
        body.bt .container {
          width: 1170px;
        }
      }
      @media (min-width: 992px) {
        body.bt .container {
          width: 970px;
        }
      }
      @media (min-width: 768px) {
        body.bt .container {
          width: 750px;
        }
      }

      body.bt .container:after {
        clear: both;
      }

      body.bt .container:before, body.bt .container:after {
        content: " ";
        display: table;
      }

      body.bt h3 {
        margin-top: 20px;
        margin-bottom: 10px;

        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
        font-size: 32px;
      }

      body.bt ul.nav li {
          font-size: 32px;
      }

      body.bt .nav>li {
            position: relative;
            display: block;
      }

      body.bt  #key, body.bt  #product_list_no {
        height: 52px;
        font-size: 26px;
        line-height: 26px;
        padding: 12px;
        width: 98%;
        margin: 0;
      }

      body.bt #key {
        width: 300px;
      }

      body.bt a {
        color: #337ab7;
        text-decoration: none;
      }

      body.bt .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      body.bt ul.nav li a {
        padding: 8px;
        font-size: 32px;
        text-align: left;

        position: relative;
        display: block;
        padding: 10px 15px;
      }

      body.bt .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
      }

      body.bt .btn.btn-square span.glyphicon {
          display: block;
          font-size: 28px;
          vertical-align: middle;
          margin-bottom: 5px;
      }

      body.bt .pull-left {
        float: left !important;
      }

      body.bt .btn.btn-square {
        width: 92px;
        height: 69px;
        text-align: center;
        padding: 11px 0;
        font-size: 12px;
        color: #2B8B04;
        border-radius: 0;
        display: inline-block;
        margin: 4px 4px 4px 0;
        vertical-align: top;
      }

      body.bt .btn.btn-submit {
        display: block;
        margin: auto;
      }

      body.bt label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 22px;
        width: 130px;
      }

      body.bt  .glyphicon {
          position: relative;
          top: 1px;
          display: inline-block;
          font-family: 'Glyphicons Halflings';
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
      }

      body.bt  .footer {
        margin-top: 16px;
        width: 100%;
        text-align: center;
      }

      body.bt  .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
      }

      body.bt .alert {
        padding: 8px;
        margin-bottom: 20px;
        margin-top: 8px;
        border: 1px solid transparent;
        border-radius: 4px;
        font-size: 26px;
      }

      body.bt  .alert-danger {
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
      }

      body.bt  .alert-success {
        color: #0f5132;
        background-color: #d1e7dd;
        border-color: #badbcc;
      }

      body.bt .value {
        font-size: 22px;
        display: inline-block;
        *display: inline;
        *zoom: 1;
      }

      body.bt .form-group {
        margin-bottom: 15px;
      }

  / body onLoad="FixedMidashi.create();"
  body.bt
    / div = link_to image_tag("omdc_logo.gif", alt: "機械団地 電子入札システム2"), "/system/bt/", class: "omdc-logo"
    / header.navbar.navbar-default.container-fluid role="navigation"
    /   .navbar-header
    /     / = link_to image_tag("omdc_logo.gif", alt: "機械団地 電子入札システム2"), "/", class: "navbar-brand omdc-logo"

      /   button.navbar-toggle data-toggle="collapse" data-target="#navbar-collapse-1"
      /     span.sr-only Toggle navigation
      /     span.icon-bar
      /     span.icon-bar
      /     span.icon-bar
      /
      / #navbar-collapse-1.navbar-collapse.collapse
      /   ul.nav.navbar-nav.navbar-right
      /     li = link_to "javascript:window.print();" do
      /       .glyphicon.glyphicon-print
      /       span.btn-content ページを印刷
      /     li = link_to "/wishlist" do
      /       .glyphicon.glyphicon-list
      /       span.btn-content ウィッシュリスト
      /     li = link_to "http://www.omdc.or.jp/?page_id=542", target: "_blank" do
      /       .glyphicon.glyphicon-question-sign
      /       span.btn-content 入札会FAQ
      /     li = link_to "/bid/", target: "_blank" do
      /       .glyphicon.glyphicon-star-empty
      /       span.btn-content 組合員ページ

    .container
      / = raw breadcrumbs style: :bootstrap, semantic: true

      - if notice.present?
        .alert.alert-success
          span.glyphicon.glyphicon-info-sign
          =< simple_format(notice, {}, wrapper_tag: :span)
      - if alert.present?
        .alert.alert-danger
          span.glyphicon.glyphicon-alert
          =< simple_format(alert, {}, wrapper_tag: :span)

      - if content_for?(:page_title)
        h1.hidden-xs.hidden-sm = yield(:page_title)
      = yield

    .container.footer Copyright &copy; #{Time.now.year} OMDC, All Rights reserved.

    / = button_tag "", class: "btn btn-default btn-square", id: "page-top" do
    /   span.glyphicon.glyphicon-arrow-up
    /   span.btn-content 一番上に戻る
