- set_meta_tags title: "入札までの流れ"
- breadcrumb  :something, "入札までの流れ"

section.rule
  .container
    h2 入札までの流れ
    .newcomers_block

      <h3>お気に入り商品の見つけ方</h3>

      <h4>＜見つけ方1＞特集に表示されている商品から探す</h4>
      <p>TOPページにある特集から商品を探すこともできます。</p>
      <p>画像</p>

      <h4>＜見つけ方2＞出品商品一覧から探す</h4>
      <p>各ページのメニュー「出品商品」を選択するか、TOPページの特集の下にある「出品商品一覧を見る」ボタンを押すと、出品商品一覧を表示することができます。<br>一覧から気になる商品を選択すると、商品詳細ページが表示されます。</p>
      <p>画像</p>

      <h4>＜見つけ方3＞検索条件から検索</h4>
      <p>リストNoや入札価格、キーワードから商品を検索することができます。<br>TOPページのお知らせの下の「注目の出品商品」のすぐ下にある「リストNo.から探す」「最低入札価格から探す」「キーワードで探す」のいずれかに必要事項を選択あるいは入力し、検索マークをクリックしてください。<br>検索結果から気になる商品を選択すると、商品詳細ページが表示されます。</p>
      <p>画像</p>

      <h4>＜見つけ方4＞ジャンルから探す</h4>
      <p>TOPページ下部にある「ジャンルからさがす」でジャンルを選択すると、該当商品の一覧を表示することができます。<br>一覧から気になる商品を選択すると、商品詳細ページが表示されます。</p>
      <p>画像</p>

      <h4>＜見つけ方5＞似たもの検索で探す</h4>
      <p>似たもの検索とは、画像の特徴がよく似た商品を検索する機能です。<br>見つけ方１～４で、商品の一覧が表示されたときに、商品を選択するのではなく、商品の写真右側にある小さなカメラマークを選択すると、商品詳細ページはなく、似たもの検索の結果一覧が表示されます。<br>
      類似の商品をまとめて確認したい場合に便利です。</p>
      <p>画像</p>

      <h4>＜見つけ方6＞展示場で探す</h4>
      <p>展示場来場時に、それぞの商品にあるQRコードを読み取るとその商品の詳細ページを表示することができます。</p>
      <p>画像</p>

      <h3>お気に入りリストへの商品登録</h3>
      <h4>手順1</h4>
      <p>お気に入りリストへ追加したい商品の詳細ページを開きます。</p>
      <h4>手順2</h4>
      <p>「お気に入りリストに追加する」ボタンを押します。</p>
      <p>画像</p>

      <h3>お気に入りリストのPDF作成</h3>
      <h4>手順1</h4>
      <p>マイーページの会員メニューから「 お気に入りリスト（入札依頼PDF作成）」を選択します。</p>

      <h4>手順2</h4>
      <p>お気に入りリストの中からPDFに出力したい商品を探し、該当行の一番左にあるチェックボックスにチェックします。</p>
      <p>画像</p>

      <h3>ユーザー登録の方法とメリット</h3>
      <h4>＜登録方法＞ユーザー登録を行う ※無料</h4>
      <p>以下のフォームより必要事項をご記入いただき送信ボタンを押してください。</p>
      <p>画像</p>

      <h4>＜メリット＞ユーザー登録をいただくと以下の機能が無料で利用できます。</h4>
      <p>マイページ、お気に入りリスト作成、全商品のリストダウロード、入札依頼リストのPDF作成、事務局からのお知らせメール。</p>
