- set_meta_tags title: "機械工具入札会とは"
- breadcrumb  :something, "機械工具入札会とは"

section.rule
  .container
    h2 機械工具入札会とは
    .newcomers_block
      <h3><i class="far fa-question-circle"></i> 入札会とは</h3>
      <p>大阪機械卸業団地協同組合（通称：機械団地）が主催する中古機械・工具の入札会で年4回開催しています。<br>
      共同展示場及び団地内組合員店舗に出品されている商品に最低価格が表示されていますので最低価格以上で入札し最高価格で落札する方式です。<br>
      毎回、多くの商品が出品され全国各地よりご来場いただき多数落札していただいています。
      </p>

      <h3><i class="far fa-question-circle"></i> 入札会の日程は</h3>
      <p>組合ホームページの入札会情報で年間日程をお知らせしています。<br />
      <a href="https://www.omdc.or.jp/?page_id=434" target="_blank">機械工具入札会情報はこちら</a></p>

      <h3><i class="far fa-question-circle"></i> 入札するには</h3>
      <p>すべて当入札会の会員を通じての参加となります。<br />
      入札会会員以外の方が、直接、入札することはできません。<br />
      お取引のある入札会会員へご相談下さい。<br />
      注：入札会会員とは、<a href="https://www.omdc.or.jp/?page_id=337" target="_blank">大阪機械卸業団地協同組合組合員</a>、及び全日本機械業連合会会員商社です。</p>

      <h3><i class="far fa-question-circle"></i> 商品を探すには</h3>
      <ol>
      <li>組合ホームページの検索リストを利用する。<span style="color: #ff6600;">※入札会下見期間中のみ閲覧可能</span></li>
      <li>組合共同展示場で配布している出品リストを利用する。<br />但し、配布数には限りがあります。ご了承下さい。</li>
      <li>会場を下見する。（※必須）必ず、現物をご確認下さい。</li>
      </ol>

      <h3><i class="far fa-question-circle"></i> 入札手順は</h3>
      <p>会場で出品商品を実際に見て確認の上、会員へ入札を依頼して下さい。</p>

      <h3><i class="far fa-question-circle"></i> 入札（額）する目安は</h3>
      <p>中古で現状のままで出品されていますので、特に工作機械等については機械の状態や最低価格を考慮されご判断ください。（百円単位※第193回から変更）</p>

      <h3><i class="far fa-question-circle"></i> 試運転は可能ですか</h3>
      <p>機械の状態で、可能でない場合がありますので依頼した取引商社とご相談下さい。</p>

      <h3><i class="far fa-question-circle"></i> 取扱説明書等はありますか</h3>
      <p>取扱説明書等はない場合がほとんどですので、ご了承下さい。</p>

      <h3><i class="far fa-question-circle"></i> 最低価格とは</h3>
      <p>最低価格とは商品に表示された価格で、入札ではそれ以上の価格で入札を依頼して下さい。</p>

      <h3><i class="far fa-question-circle"></i> 落札の結果はいつわかりますか</h3>
      <p>入札締切日午後には、依頼した商社より連絡があります。</p>

      <h3><i class="far fa-question-circle"></i> 商品の引取は</h3>
      <p>定められた期間内に引き取りをして下さい。依頼した商社の立ち合いが必要となります。<br />
      | ※下見時にあらかじめ搬出手段を決めておいて下さい。</p>

      <h3><i class="far fa-question-circle"></i> その他お問い合せ</h3>
      <p>大阪機械卸業団地協同組合にて入札会会員をご紹介します。<br />お問合せ先：組合共同展示場 担当者<br />
      | TEL：06-6747-7528<br />
      | Mail：<a href="/contacts/new">事務局への問い合せフォームへ</a></p>
