scss:
  .hikitori-area {
    // border-bottom: 1px dotted #333;

    height: 46%;
    width: 100%;
    position: relative;
    paggin: 0;

    &:nth-child(odd) {
      margin-bottom: 12mm;
    }

    &:nth-child(even) {
      page-break-after:always;
    }


    .hikitori {
      border: 1px solid #333;
      margin: 2mm 0;
      width: 100%;
      height: 100mm;

      .title {
        font-size: 6mm;
        margin: 4mm auto;
        width: 40mm;
        border-bottom: 1px solid #333;
        text-align: center;
      }

      .open-name {
        text-align: right;
        margin-right: 2mm;
      }

      .company {
        font-size: 5mm;
        text-align: left;
        margin-left: 2mm;
      }

      .open-author {
        text-align: right;
        margin-right: 2mm;
      }

      .comment {
        position: absolute;
        top: 35mm;
        left: 2mm;
      }

      .info {
        position: absolute;
        top: 24mm;
        width: 100%;
        text-align: center;
      }

      .product-table {
        position: absolute;
        top: 40mm;
        width: 100%;

        td {
          font-size: 4mm;
          border: 1px solid #333;
          padding: 0 1mm;
        }

        .header td {
          text-align: center;
        }

        .body td {
          height: 18mm;
          vertical-align: middle;
        }

        .body .no {
          font-size: 7mm;
          text-align: center;
        }

        td.no {
          width: 22mm;
          border-left: 0;
        }

        td.name {
          width: 50mm;
        }

        td.maker {
          width: 50mm;
        }
      }

      .date {
        position: absolute;
        top: 64mm;
        left: 2mm;
      }

      .current-company {
        position: absolute;
        top: 74mm;
        right: 2mm;
        width: 80mm;
      }

      .current-author {
        position: absolute;
        top: 84mm;
        right: 2mm;
        width: 80mm;
      }
    }
  }

  .even {
    border: 1px dotted #333;
    border-width: 1 0 0 0;
    height: 2mm;
    background: yellow;
    position: relative;
  }

  hr.page-break {
    border-width: 0;
    clear: both;
    page-break-after:always;
    &:last-child {
      page-break-after: avoid;
    }
  }

.print-pdf
  - even = true
  - @bids.each do |b|
    - next unless b.success?

    .hikitori-area
      .hikitori
        .title 引取・指図書
        .company 機械団地共同展示場 御中
        .open-name = @open_now.name
        .open-author 事務局発行
        .comment
          span 下記商品を引取りいたします。
          span =< " (出品エリア : #{b.product.area_name})"
        table.product-table
          tr.header
            td.no リストNo.
            td.name 商品名
            td.maker メーカー
            td 年式
          tr.body
            td.no = b.product.list_no
            td.name = b.product.name
            td.maker = b.product.maker
            td = b.product.year

        .date 　　　　　年　　　月　　　日
        .current-company 会社名 : #{@company.name}　　(印)
        .current-author  担当者 : 　　　　　　　　(印)
