/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/sortable
 *= require bootstrap-select
 *= require bootstrap3-datetimepicker
 *= require dropzone/basic
 *= require dropzone/dropzone
 *= require component
 *= require_tree .
 *= require_self
 */
$icon-font-path: "bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/bootstrap-sprockets";
@import "bootstrap-sass-official/bootstrap";
@import 'bootstrap-fileinput'; /// header ///

@import 'font-awesome-sprockets';
@import 'font-awesome';

header {
  .omdc-logo {
    padding: 2px 16px;
  }

  &.navbar-default {
    background-color: #FFFFFF;
    border: none;
    border-radius: 0;
  }
}
/// footer ///

footer {
  margin-top: 16px;
  text-align: center;
}

.list-menu {
  margin-bottom: 8px;

  .btn {
    margin-right: 4px;
  }
}

body {
  background-color: #F4F6EB;
}

.breadcrumb {
  background-color: #FFFFFF;
}

.search-label {
  width: 240px;
}

label.required:after {
  content: "必須";
  color: #D00;
  vertical-align: top;
  font-size: 80%;
  font-weight: normal;
  margin-left: 10px;
}

table {
  & {
    th {
      &.id {
        width: 40px;
      }

      &.no {
        width: 56px;
      }

      &.img_link {
        width: 40px;
      }

      &.num {
        width: 90px;
        min-width: 100px;
      }

      &.name {
        width: 150px;
        min-width: 150px;
      }
      white-space: nowrap;
    }

    td.button {
      text-align: center;
      width: 80px;
    }

    th.button {
      width: 80px;
    }

    td {
      &.id {
        width: 40px;
        text-align: right;
      }

      &.no {
        text-align: right;
        width: 56px;
      }

      &.img_link {
        text-align: center;
        width: 40px;
      }

      &.num {
        text-align: right;
        width: 90px;
      }

      &.name {
        width: 150px;
        min-width: 150px;
      }
    }

    td.sepa,
    th.sepa {
      border-right: 3px double #ddd;
    }
  }

  &.table-striped {
    > tbody > tr {
      &:nth-of-type(even) {
        background-color: #fff;
      }

      td {
        max-width: 120px;
      }
    }
  }

  &.table-hover {
    tr:nth-of-type(n):hover td {
      background: #FFFFE0;
    }
  }

  &.total-table {
    caption {
      text-align: center;
    }

    th {
      background: #2B8B04;
      color: #FFFFFF;
      border: 1px solid #ddd;
    }

    td {
      background: #FFFFFF;
      border: 1px solid #ddd;
    }
  }

  &.info-table {
    background-color: #FFF;
    margin-bottom: 16px;
  }

  &.form-table {
    background-color: #EEE;

    th {
      width: 130px;
    }

    textarea.form-control {
      height: 100px;
    }
  }

  &.table-products {
    th {
      background: #FF8C00;
    }

    tr:nth-of-type(odd) td {
      background: #ffcf7c;
    }
  }

  &.table-bids {
    th {
      background: #7ae27a;
    }

    tr:nth-of-type(odd) td {
      background: #c5ffc5;
    }
  }

  &.table-opens {
    th {
      background: #FF6347;
    }

    tr:nth-of-type(odd) td {
      background: #FFE4E1;
    }
  }

  &.table-users {
    th {
      background: #FF6347;
    }

    tr:nth-of-type(odd) td {
      background: #FFE4E1;
    }
  }

  &.table-requests {
    th {
      background: #019621;
    }

    tr:nth-of-type(odd) td {
      background: #a5ffb8;
    }
  }



  &.table-results {
    border: 0;

    th {
      background: #69c3e6;
    }

    tr:nth-of-type(odd) td {
      background: #bff7f7;
    }

    tfoot {
      tr:nth-of-type(n) td {
        background: #FFF;

        &.blank {
          background: inherit;
          border: 0;
        }
      }
    }
  }

  tr td.mybids {
    padding: 0;
  }

  &.table-mybids {
    width: 100%;

    tr:nth-of-type(n) td {
      background: inherit;
    }

    td.amount {
      width: 110px;
      text-align: right;
      border: 1px solid #DDD;
      border-width: 0 1px 1px 0;
      padding: 5px;
    }

    td.comment {
      border: 1px solid #DDD;
      padding: 5px;
      border-width: 0 0 1px 1px;
    }

    tr:nth-last-of-type(1) {
      td.amount {
        border-width: 0 1px 0 0;
      }

      td.comment {
        border-width: 0 0 0 1px;
      }
    }
  }

  th a.sort_link {
    color: #FFF;
    text-decoration: underline dotted;
    font-weight: normal;
  }
}

input.price,
input[type=number] {
  width: 120px;
  text-align: right;
}

input.short {
  width: 200px;
}

.field_with_errors {
  display: inline;

  .form-control {
    background-color: #f2dede;
  }
}

.btn-content {
  margin-left: 8px;
}

.btn {
  &.btn-square {
    width: 92px;
    height: 69px;
    text-align: center;
    padding: 11px 0;
    font-size: 12px;
    color: #2B8B04;
    border-radius: 0;
    display: inline-block;
    margin: 4px 4px 4px 0;
    vertical-align: top;

    &.btn-danger {
      color: #d9534f;
      background-color: #FFF;
      border-color: #ccc;
    }

    span.glyphicon {
      display: block;
      font-size: 28px;
      vertical-align: middle;
      margin-bottom: 5px;
    }

    &.btn-twoline {
      padding: 6px 0;
      line-height: 1.1;
    }

    .btn-content {
      margin-left: 0;
    }
  }

  &.btn-submit {
    display: block;
    margin: auto;
  }
}
// div.scroll_div { overflow: scroll; width: 100%; }
// div.scroll_div { overflow: auto; }

.bid-menu {
  .panel-body {
    padding: 9px 0 9px 25px;
  }
}

span.menu-title {
  margin-left: 8px;
}

label.required abbr {
  color: #F00;
}

.arrow_area {
  text-align: center;
}

.percent {
  color: #777;
  font-size: 90%;
}

.company_select-panel .panel-body {
  background-color: #FFEFD5;
  padding: 8px 15px;

  label {
    width: 120px;
  }

  select {
    width: 300px;
  }
}

.fileinput-upload-button {
  display: none;
}

.infos {
  background: #FFF;
  padding: 8px;
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 0;
  width: 78px;
  height: 56px;
  background:rgba(255,255,255,0.7);
}

hr {
  margin-bottom: 16px;
  margin-top: 16px;
}

.btn.btn-square.btn-search {
  margin: 0;
  width: 100%;
}


.imgs-area {
  img {
    max-width: 640px;
    max-height: 640px;
    display: block;
    margin: 0 auto 8px;
  }
}

.show-imgs-area {
  img {
    width: 100%;
    max-height: 640px;
    display: block;
    margin: 0 auto 8px;
  }
}

table.bid-table {
  td.image img {
    width: 100%;
  }
}

.list_no-link {
  display: inline-block;
  width: 108px;
}

.form-priceinterval {
  margin-bottom: 0;
  vertical-align: middle;

  input[type=text] {
    display: inline-block;
    width: 100px;
  }

  .input-group {
    display: inline-table;
    vertical-align: middle;
    width: 172px;
  }
}

.ok {
  color: #F00;
}

.ng {
  color: #00F;
}
/// 印刷設定 ///
@media print {
  a[href]:after {
    content: "" !important;
  }

  abbr[title]:after {
    content: "" !important;
  }

  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-push-11 {
    left: 91.66666667%;
  }

  .col-sm-push-10 {
    left: 83.33333333%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-8 {
    left: 66.66666667%;
  }

  .col-sm-push-7 {
    left: 58.33333333%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-5 {
    left: 41.66666667%;
  }

  .col-sm-push-4 {
    left: 33.33333333%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-2 {
    left: 16.66666667%;
  }

  .col-sm-push-1 {
    left: 8.33333333%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }

  .visible-xs {
    display: none !important;
  }

  .hidden-xs {
    display: block !important;
  }

  table.hidden-xs {
    display: table;
  }

  tr.hidden-xs {
    display: table-row !important;
  }

  td.hidden-xs,
  th.hidden-xs {
    display: table-cell !important;
  }

  .hidden-xs.hidden-print {
    display: none !important;
  }

  .hidden-sm {
    display: none !important;
  }

  .visible-sm {
    display: block !important;
  }

  table.visible-sm {
    display: table;
  }

  tr.visible-sm {
    display: table-row !important;
  }

  td.visible-sm,
  th.visible-sm {
    display: table-cell !important;
  }
}
/// dropzone ///

.dropzone {
  border: 1px dashed #b4bcc2;
  border-radius: 4px;
  padding: 8px;
  min-height: 132px;

  .dz-message {
    font-size: 16px;
    text-align: center;
    margin: 0;
  }

  .dz-preview {
    margin: 0 4px;
    width: 100px;

    .dz-image {
      width: 100px;
      height: 100px;
      border-radius: 8px;

      img {
        min-width: 100px;
        min-height: 100px;
      }
    }

    .dz-size {
      display: none;
    }
  }

  .change-area,
  .pager-area,
  .search-area,
  ul.nav.nav-pills {
    display: none;
  }
}

body.bt {
  .omdc-logo img {
    margin-bottom: 16px;
  }

  .footer {
    margin-top: 16px;
    width: 100%;
    text-align: center;
  }

  h3 {
    font-size: 32px;
  }

  ul.nav li {
    font-size: 32px;

    a {
      padding: 8px;
      font-size: 32px;
      text-align: left;
    }
  }

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 22px;
    width: 130px;
  }

  .value {
    font-size: 22px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }

  #key,
  #product_list_no {
    height: 26px;
    font-size: 26px;
    line-height: 26px;
    padding: 12px;
    width: 98%;
    margin: 0;
  }

  #key {
    width: 300px;
  }

  #product_list_no {
    width: 130px;
    text-align: right;
  }

  #product_area_id {
    width: 240px;
    font-size: 26px;
    height: 48px;
    margin: 0 auto;
  }

  .alert {
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 26px;
  }
}

.row.toppage_genres_area {
  margin-left: -5px;
  margin-right: -5px;

  .col-sm-6,
  .col-md-3 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

table.table-detail {
  th {
    min-width: 120px;
  }
}

.imgs-area {
  img {
    margin-top: 8px;
  }
}

.nav-sepa {
  padding-right: 8px;
  margin-right: 10px;
  border-right: 1px solid #CCC;
}

.btn-square {
  .fa, .fas, .far, .fal, .fad, .fab {
    display: block;
    font-size: 28px;
    vertical-align: middle;
    margin-bottom: 5px;
  }
}

.filtering-form {
  position: relative;
  margin-bottom: 4px;

  button,
  .btn.btn-square  {
    margin: 0 0 0 8px;
  }
}

.datepicker,
.datetimepicker {
  position: relative;
}
