/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-select
 *= require bootstrap3-datetimepicker
 *= require_tree .
 *= require_self
 */

$icon-font-path: "bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/bootstrap-sprockets";
@import "bootstrap-sass-official/bootstrap";
@import 'bootstrap-fileinput';

footer {
  margin-top: 16px;
  text-align: center;
}

.list-menu {
  margin-bottom: 8px;

  .btn {
    margin-right: 4px;
  }
}

table {
  & {
    th.id {
      width: 40px;
    }

    td.id {
      width: 40px;
      text-align: right;
    }

    td {
      &.id {
        width: 40px;
        text-align: right;
      }

      &.num {
        text-align: right;
      }
    }

  }

  &.form-table {
    input[type=number] {
      width: 120px;
      text-align: right;
    }

    .required:after
    {
      color: #D00;
      vertical-align: top;
      font-size: 80%;
      font-weight: normal;
      margin-left: 10px;
    }
  }

}

div.scroll_div { overflow: auto; }

label.required abbr {
  color: #F00;
}
