html.layout2 {
  font-size: 15px;

  * {
    box-sizing: content-box;
  }

  body {
    background: #FFF;
    // line-height: 1.6;
  }

  textarea {
    box-sizing: border-box;
    height: 112px;
  }

  table {
    border-collapse: separate;
    border-spacing: 2px;
  }

  label {
    margin-right: 10px;
    font-weight: normal;

    input[type=checkbox],
    input[type=radio] {
      margin-right: 4px;
    }
  }

  th label {
    font-weight: bold;
  }

  button[disabled] {
    opacity: 0.65;
    pointer-events: none;
    cursor: not-allowed;
    box-shadow: none
  }

  .li-content {
    display: inline-block;
    margin-left: 4px;
  }

  section.genre li a span {
    width: 24px;
  }

  .search_body button {
    color: #999;
  }

  .container {
    padding: 0;
  }

  .dl-menuwrapper li a {
    padding: 15px 20px;
  }

  .panel-body {
    padding: 0;
  }

  .product_map {
    width: 100%;
    border: 1px solid #999;
  }

  #gmap2 {
    border: 1px solid #999;
  }

  .items_block table {
    td {
      max-width: 160px;
    }

    td.id {
      width: 26px;
      text-align: right;
    }

    th.id {
      width: 26px;
    }

    th.num,
    td.num {
      width: 90px;
    }

    td.num {
      text-align: right;
    }

    td.img_link {
      text-align: center;
    }
  }

  #button_area .view_button {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 2px solid #3b6783;
    color: #3b6783;
    outline: none;
    padding: 6px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 6px;
    width: 35px;
    height: 35px;
    text-align: center;
  }

  ul.no_tab {
    text-align: left;
    li {
      margin-bottom: 4px;
    }
  }

  .favorite_star {
    display: block;
    // width: 36px;
    // height: 36px;
    margin: auto;
    text-align: center;

    i.fas  {
      // font-size: 28px;
      // color: #CCC;
      -webkit-text-stroke: #3b6783 1px;
      // text-shadow: #FFF 1px 1px 1px;
    }

    &.active i.fas {
      -webkit-text-stroke: #3b6783 1px;
      color: #FF0;
      text-shadow: #FF0 0px 0px 8px;

    }
  }

  .rely button {
    background-color: #eb5504;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 12px;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: inline-block;
    border-width: 0;
  }

  hr {
    border-top: 1px solid #999;
  }

  h3.image_vector {
    font-size: 1.3rem;
    margin: 1rem 0;
    font-weight: 700;
    color: #004e98;
  }

  img.upload_image {
    max-width: 400px;
    max-height: 200px;
  }

  .btn-content {
    display: inline-block;
    margin-left: 8px;
  }

  .mypage_block.password {
    width: 50%;
    display: block;
    margin: auto;
  }

  .nomal_link {
    text-align: center;
    margin: 8px 0 16px 0;

    a {
      font-size: 16px;
    }
  }

  .mini_help {
    margin: 8px 0 16px 0;

    h3 {.items_box {
    }
      color: #004e98;
      font-size: 17px;
      margin: 0 0 4px 0;
      font-weight: 700;
    }
  }

  .mypage_block.center {
    display: block;
    float: none;
    margin: auto;
    width: 60%;
  }

  .overflow_area {
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 12px 7px;
    border: 2px solid #004e98;
    border-radius: 4px;

    .overflow_items {
       white-space: nowrap;
       display: inline-block;

       .items_box {
         white-space: normal;
         width: 192px;
         margin-right: 10px;
       }
    }
  }

}

@media screen and (max-width: 740px) {
  html.layout2 {
    section#headline {
      .container {
        width: 100%;
        margin: 0;
      }
    }

    h1#logo img {
      display: block;
      margin-left: 4px;
    }

    .mypage_block.center {
      width: 100%;
    }

    .overflow_area {
      margin: 0 -5%;

      .overflow_items {
         .items_box {
           width: 108px;
           margin-right: 7px;
         }
      }
    }

  }
}
