html.layout2 {
  font-size: 15px;

  * {
    box-sizing: content-box;
  }

  body {
    background: #FFF;
    // line-height: 1.6;
  }

  textarea {
    box-sizing: border-box;
    height: 112px;
  }

  table {
    border-collapse: separate;
    border-spacing: 2px;
  }

  label {
    margin-right: 10px;
    font-weight: normal;

    input[type=checkbox],
    input[type=radio] {
      margin-right: 4px;
    }
  }

  th label {
    font-weight: bold;
  }

  button[disabled] {
    opacity: 0.65;
    pointer-events: none;
    cursor: not-allowed;
    box-shadow: none
  }

  .li-content {
    display: inline-block;
    margin-left: 4px;
  }

  section.genre li a span {
    width: 24px;
  }

  .search_body button {
    color: #999;
  }

  .container {
    padding: 0;
  }

  .dl-menuwrapper li a {
    padding: 15px 20px;
  }

  .items_box {
    .thumb_img {

      img {
      }
    }

  }

}
