html.layout2 {
a {
	outline: none;
	padding: 0px;
	margin: 0px;
}
a img {
    border-style:none;
}
h1,h2,h3,h4,h5,p {
	font-size: 100%;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
ul,li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
section {
    padding: 2rem 0;
}
section#headline {
    padding: 0.8rem 0;
    display: inline-block;
    width: 100%;
    text-align: right;
    background-image: image-url("black-thread-light.png");
    background-size: 40px;
}
section#headline.login {
    background-color: #004e98;
}
section#headline.member {
    background-color: #eb5504;
}
section#headline ul li {
    width: auto;
    display: inline-block;
    margin-left: 1rem;
}
section#headline ul li a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 15px;
}
section#headline ul li a:hover {
    background-color: #fff;
    color: #004e98;
    transition: all 0.5s ease 0s;
}
section#headline.member ul li a:hover {
    color: #eb5504;
}
section h2 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    margin: 1rem 0 2rem 0;
}
section.items,section.overview {
    background-color: #efefef;
}
section.history {
    border-top: 1px solid #efefef;
}
dl.acMenu {
    border: 16px solid #efefef;
    padding: 20px 30px;
    display: inline-block;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
.acMenu dt {
    display: block;
    width: 100%;
    line-height: 1.8em;
    cursor: pointer;
    font-weight: normal;
    color: #eb5504;
    padding: 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.acMenu dt span.date {
    display: inline-block;
    margin: 0;
    min-width: 120px;
}
.acMenu dt span.arrow {
    position: relative;
    display: inline-block;
    padding: 15px 10px;
    color: #333;
    text-decoration: none;
    float: right;
}
.acMenu dt span.arrow:before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-bottom: solid 2px #333;
  border-right: solid 2px #333;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  transform: rotate(45deg);
}
.acMenu dt.active span.arrow:before {
    margin-top: -3px;
    transform: rotate(-135deg);
}
.acMenu dt:not(:first-of-type) {
    border-top: 1px solid #ccc;
}
.acMenu dd {
    width: 100%;
    /*display: none;*/
    padding: 0 15px 15px 15px;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.acMenu dd p {
    margin-bottom: 0.5em;
}
.acMenu dd ol,.acMenu dd ul {
    margin: 0 0 0.5em 0;
    padding: 0;
}
.acMenu dd ol li {
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 1rem;
}
.acMenu dd ul li {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1rem;
}
.search_block {
    width: 100%;
    display: inline-block;
    margin-bottom: 2em;
    text-align: center;
}
.search_box {
    width: auto;
    display: inline-block;
    margin: 0 0.8rem;
}
.search_box h3 {
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: 5px;
}
.search_body {
    width: 100%;
    display: inline-block;
    position: relative;
}
.search_body input {
    border: 1px solid #d3d3d3;
    padding: 5px 30px 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    line-height: 20px;
    font-size: 12px;
}
.search_body button {
    position: absolute;
    right: 0px;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 32px;
    cursor: pointer;
}
.search_body button img {
    width: 100%;
    float: left;
}
.newcomers_block {
    background-color: #fff;
}
.rule_block, .newcomers_block {
    border: 1px solid #e5e5e5;
    padding: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0;
    display: inline-block;
    width: 100%;
}
.rule_block dl {
    margin: 0;
}
.rule_block dl dt {
    font-size: 1.1rem;
    margin: 1rem 0;
    font-weight: 700;
    display: inline-block;
}
.rule_block dl dd {
    margin: 0 0 1rem 0;
}
.rule_block dl dd p {
    margin-bottom: 0.5rem;
}
.rule_block dl dd ol {
    margin: 0 0 1rem 0;
    padding: 0;
}
.rule_block dl dd ol li {
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 1.1rem;
}
.rule_block dl form {
    text-align: center;
}
.rule_block dl button {
    padding: 0.5rem 2.5rem;
}
ul.no_tab {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;
}
ul.no_tab li {
    display: inline-block;
    margin: 0 1px;
}
ul.no_tab li a {
    background-color: #3b6783;
    color: #fff;
    text-decoration: none;
    padding: 5px 0.8rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
	display: inline-block;
}
.items_block {
    width: 100%;
    display: inline-table;
}
.items_box {
    width: 19.2%;
    display: inline-block;
    background-color: #fff;
    margin-right: 1%;
    margin-bottom: 1.5rem;
    box-shadow: 5px 5px #d3d3d3;
    position: relative;
}
.items_box img {
    width: 100%;
    float: left;
    margin-bottom: 0.5rem;
}
.items_box a h3 {
    font-weight: 700;
    font-size: 0.9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.items_box a p {
    font-size: 0.8rem;
}
.items_box a p, .items_box a h3 {
    padding: 0 10px;
    text-align: center;
    color: #222;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
p.number {
    position: absolute;
    top: 1rem;
    left: 0px;
    text-align: left;
    background-color: #3b6783d6;
    width: 5em !important;
    margin: 0 !important;
    padding: 0 !important;
    color: #fff !important;
    line-height: 1.5rem;
}
p.maker {
    font-size: x-small !important;
}
p.price {
    margin-bottom: 0.8rem;
    font-size: x-small !important;
}
p.price span {
    font-size: 1.1rem;
    font-weight: 700;
    color: #eb5505;
}
section.items .container {
    position: relative;
}
.items_block table {
    width: 100%;
    border-collapse: collapse;
}
.items_block table tr:nth-of-type(even) {
    background-color: #fff;
}
.items_block table a {
    color: #004f99;
    text-decoration: none;
}
.items_block table th {
    background-color: #e4e4e4;
    text-align: left;
    padding: 10px;
    border: 1px #ccc solid;
}
.items_block table td {
    font-weight: normal;
    text-align: left;
    padding: 10px;
    border: 1px #ccc solid;
    font-size: 0.9rem;
}
section.genre ul {
    width: 24.25%;
    display: inline-block;
    margin-bottom: 1rem;
    margin-right: 1%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 10px;
    border-top: 5px solid #004f99;
    border-right: 1px solid #004f99;
    border-left: 1px solid #004f99;
    border-bottom: 1px solid #004f99;
}
section.genre ul:last-child {
    margin-right: 0;
}
section.genre ul li:first-child a {
    font-weight: 700;
    font-size: 1rem;
	color: #004f99;
}
section.genre li a {
    width: 100%;
    display: inline-block;
    border-bottom: 1px dotted #efefef;
    color: #222;
    text-decoration: none;
    padding: 0.5rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.9rem;
}
section.genre li a:hover {
    background-color: #f5f5f5;
}
section.genre li a span {
    float: right;
    font-size: 0.5rem;
    border: 1px solid #d3d3d3;
    padding: 5px 0;
    min-width: 3em;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: normal;
}
.half_block {
    width: 48%;
    margin-right: 4%;
    float: left;
    background-color: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px;
    margin-bottom: 1rem;
    border-top: 5px solid #004f99;
    border-right: 1px solid #004f99;
    border-left: 1px solid #004f99;
    border-bottom: 1px solid #004f99;
}
.half_block:last-child {
    float: right;
    margin-right: 0;
}
.half_block dl {
    margin: 1rem 0 0 0;
    padding: 0;
}
.half_block dt {
    font-weight: 700;
    width: 100%;
    display: inline-block;
    margin: 0 0 0.25rem 0;
    padding: 0;
}
.half_block dd {
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0 0 1rem 0;
}
section.pan {
    padding: 1rem 0;
    border-top: 1px solid #efefef;
    width: 100%;
    display: inline-block;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
}
section.pan ul li {
    display: inline-block;
    padding-right: 1.2rem;
    font-weight: 700;
    font-size: 0.9rem;
}
section.pan ul li a {
    position: relative;
    color: #222222;
    text-decoration: none;
    font-weight: normal;
}
section.pan ul li a:before, section.pan ul li a:after {
    content: "";
    display: block;
    position: absolute;
    top: 25%;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
section.pan ul li a:before {
    right: -20px;
    border-left: 5px solid #222;
}
section.pan ul li a:after{
 right: -19px;
 border-left: 5px solid #fff;
}
.detail_box {
    width: 100%;
    display: inline-block;
}
.detail_box_left {
    width: 49%;
    float: left;
}
.detail_box.right {
    width: 49%;
    float: right;
}
.detail_box h3 {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.panel-body img {
    width: 100%;
    float: left;
    margin-bottom: 1rem;
}
.panel-body {
    margin-bottom: 1rem;
}
.panel-body p {
    margin-bottom: 0.5rem;
}
.form-group {
    text-align: center;
    display: inline-block;
    width: 100%;
}
.form-group label {
    width: 100%;
    display: inline-block;
    text-align: left;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.form-group input {
    width: 100%;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
}
.checkbox {
    width: 100%;
    display: inline-block;
    margin-bottom: 1rem;
}
button.btn-submit {
    display: block;
    width: 80%;
    margin: 0 10%;
    line-height: 48px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    background: #004f99;
    border: 1px solid #004f99;
    color: #fff;
}
.form_block button.btn-submit {
    width: 50%;
    margin: 0 25%;
}
a.btn.btn-primary.btn-lg.wishlist-create {
    text-align: center;
    background-color: #004f99;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 1rem 0;
    display: inline-block;
}
.youtube {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}
.youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
}
.panel-body table {
    width: 100%;
    border-collapse: collapse;
}
.panel-body table th {
    background-color: #f8f8f8;
    font-weight: normal;
    text-align: left;
    padding: 10px;
    border: 1px #ccc solid;
    width: 26%;
}
.panel-body table td {
    font-weight: normal;
    text-align: left;
    padding: 10px;
    border: 1px #ccc solid;
}
img#page_top {
    position: fixed;
    bottom: 40px;
    right: 20px;
}
footer {
    padding: 4em 0;
}
footer p {
    text-align: center;
    font-size: 90%;
}
.items_block table td.item08, .items_block table td.item09, .items_block table td.item10, .items_block table td.item11 {
    text-align: center;
}
.items_box:first-child {
    position: relative;
}
.newcomers_block h3 {
    font-size: 1.3rem;
    margin: 1rem 0;
    font-weight: 700;
    display: inline-block;
    letter-spacing: .15em;
    color: #004e98;
}
.newcomers_block h4 {
    width: 100%;
    font-size: 1rem;
    margin: 0.5rem 0 1rem 0;
    font-weight: 700;
    display: inline-block;
}
.newcomers_block p {
    margin-bottom: 1rem;
}
.newcomers_block ol,.newcomers_block ul {
    padding: 0 0 0 1.1rem;
    margin: 0 0 1rem 0;
}
.newcomers_block ol li {
    list-style-type: decimal;
}
.newcomers_block ul li {
    list-style-type: disc;
}
.newcomers_block a {
    color: #004e98;
    text-decoration: underline;
}
.panel {
    padding: 40px 20px;
    text-align: center;
    border-top: 5px solid #004f99;
    border-right: 1px solid #004f99;
    border-left: 1px solid #004f99;
    border-bottom: 1px solid #004f99;
}
table.formTable {
    width: 100%;
    float: left;
    margin: 0 auto 1.5rem auto;
    border: 1px solid #ccc;
    padding: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #fff;
}
table.formTable tr {
    width: 100%;
    float: left;
}
table.formTable th {
    width: 35%;
    float: left;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
    padding: 20px 10px 10px 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
table.formTable th span {
    float: right;
    padding: 1px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    font-size: 90%;
}
span.cck01 {
    background-color: orange;
}
span.cck02 {
    background-color: #172f6a;
}
table.formTable td {
    width: 65%;
    float: left;
    padding: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
table.formTable input[type="text"], table.formTable input[type="tel"], table.formTable input[type="email"],table.formTable input[type="password"] {
    width: 100%;
    padding: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 100%;
}
input.wide-type-01 {
    width: 40% !important;
}
table.formTable input[type="radio"], table.formTable input[type="checkbox"] {
    margin-top: 15px;
}
.pp_box {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 105%;
    margin-bottom: 1.5rem;
}
.pp_box p {
    margin-bottom: 0;
}
table.formTable select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 100%;
    -webkit-appearance: none;
}
.select_arrow select {
    padding: 8px 38px 8px 8px;
    color: #666666;
}
.select_arrow {
    position: relative;
}
.select_arrow:before {
    position: absolute;
    top: 1.2em;
    right: 0.9em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666666;
    pointer-events: none;
}
ul.tab {
    width: 100%;
    display: flex;
    border-bottom: 2px #004e98 solid;
}
ul.tab li {
    width: 48%;
    display: inline-block;
    text-align: center;
    margin: 0 1% 0 1%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 2px solid #004e98;
    border-right: 2px solid #004e98;
    border-left: 2px solid #004e98;
    border-radius: 10px 10px 0 0;
    background-color: #004e98;
}
ul.tab li a {
    outline: none;
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    line-height: 4.5rem;
    font-size: 1.2rem;
    border-radius: 9px 9px 0 0;
}
ul.tab li a.selected {
    cursor: default;
    border-bottom: 2px solid #efefef;
    background-color: #efefef;
    margin-bottom: -2px;
    color: #004e98;
}
span.tab_head_text {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 2rem 0;
    font-weight: 700;
}
.nomal_btn {
    width: 100%;
    text-align: center;
}
.nomal_btn a {
    text-align: center;
    background-color: #004f99;
    padding: 1rem 2.2rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 1rem 0;
    display: inline-block;
    min-width: 230px;
}
.nomal_btn a:hover {
    opacity: 0.8;
    transition: all 0.5s ease 0s;
}
.nomal_btn button.star {
    text-align: center;
    background-color: #004f99;
    padding: 1rem 2.2rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 1rem 0;
    display: inline-block;
    min-width: 230px;
    font-size: 15px;
}
.nomal_btn button.star.active {
    background-color: #f49400;
    color: #fff;
}
.nomal_btn button.star span.act_on {
    display: none;
}
.nomal_btn button.star.active span.act_on {
    display: contents;
}
.nomal_btn button.star.active span.act_off {
    display: none;
}
ul.detail_btn {
    width: 100%;
    margin: 0 0 1rem 0;
    display: inline-block;
}
ul.detail_btn li {
    width: 48%;
    float: left;
    text-align: center;
    margin-right: 4%;
}
ul.detail_btn li:last-child {
    margin-right: 0;
}
ul.detail_btn li a {
    width: 100%;
    text-align: center;
    border: 2px solid #004f99;
    padding: 1rem 0;
    color: #004f99;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}
ul.detail_btn li a:hover {
    background-color: #004f99;
    color: #fff;
    transition: all 0.5s ease 0s;
}
.mypage_block {
	width: 100%;
    display: inline-block;
	margin: 0 0 1rem 0;
}
.mypage_block.left {
    width: 35%;
    float: left;
    margin: 0 0 1rem 0;
    padding: 25px;
    border-top: 5px solid #eb5504;
    border-right: 1px solid #eb5504;
    border-left: 1px solid #eb5504;
    border-bottom: 1px solid #eb5504;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mypage_block.right {
    float: right;
    width: 60%;
}
.mypage_block ul {
    width: 100%;
    margin: 0 0 1rem 0;
    padding: 25px;
    border-top: 5px solid #eb5504;
    border-right: 1px solid #eb5504;
    border-left: 1px solid #eb5504;
    border-bottom: 1px solid #eb5504;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul.harf {
    width: 49%;
    float: left;
}
ul.harf:last-child {
    float: right;
}
.mypage_block ul li {
    list-style-type: none;
}
.mypage_block ul li a {
    width: 100%;
    display: inline-block;
    line-height: 1.25em;
    padding: 15px 5px;
    border-bottom: 1px solid #e5e5e5;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #222;
    text-decoration: none;
    font-size: 0.9rem;
}
.mypage_block ul li a:hover {
    background-color: #f5f5f5;
    color: #eb5504;
}
.mypage_block ul span {
    width: 100%;
    display: inline-block;
    padding-bottom: 0.3rem;
    font-weight: 700;
    font-size: 1.1rem;
    border-bottom: 1px solid #e5e5e5;
}
.mypage_block.left p {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
    margin: 0;
}
.mypage_block dl {
    margin: 0;
}
.mypage_block dl dt {
    width: 100%;
    display: inline-block;
    margin: 0;
    line-height: 1.25em;
    padding: 15px 5px 0 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0.3rem;
    font-weight: 700;
}
.mypage_block dl dd {
    width: 100%;
    display: inline-block;
    margin: 0;
    line-height: 1.25em;
    padding: 0 5px 15px 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
	font-size: 0.9rem;
}
a.n_btn {
    background-color: #e76731;
    color: #fff !important;
    padding: 5px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-decoration: none;
}
a.n_btn:hover {
    opacity: 0.8;
	transition : all 0.5s ease 0s;
}
button.star {
    border: 0;
    color: #004f99;
    background: none;
}
button.star.active {
    color: #f49400;
}
button.star:focus {
	outline:0;
}
img.img50 {
    width: 49.5%;
    height: auto;
    margin-right: 1%;
}
img.img50:nth-child(even) {
    margin-right: 0;
}
.mypage_block.msg li {
    padding: 15px;
    margin-bottom: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.mypage_block.msg li.user_side {
    background-color: #f5dbcd;
}
.mypage_block.msg li.office_side {
    background-color: #cce5fd;
}
.mypage_block.msg ul li span {
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    border: none;
}
.mypage_block.msg ul li span.msg_who {
    font-weight: 700;
    margin-bottom: 0.3rem;
}
.mypage_block.msg ul li span.msg_date {
    font-size: 0.9rem;
    color: #666;
}
.mypage_block.msg li.nomal_btn {
    padding: 0;
    margin: 0;
    text-align: center;
}
.mypage_block.msg li.nomal_btn a {
    max-width: 250px;
    width: 100%;
    color: #fff;
}
.mypage_block.msg li.nomal_btn a:hover {
    background-color: #004f99;
}
.newcomers_box {
    width: 49%;
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 15px;
    margin-right: 2%;
}
.newcomers_box:last-child {
    margin-right: 0;
    float: right;
}
.newcomers_box select {
    color: #666666;
    width: 100%;
    padding: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 100%;
    -webkit-appearance: none;
    margin-bottom: 1rem;
}
.newcomers_box h3 {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
}
.newcomers_block .newcomers_box p a {
    text-align: center;
    width: 80%;
    margin: 0 10%;
    display: inline-block;
    background-color: #eb5504;
    line-height: 3rem;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-decoration: none;
}
.newcomers_block .newcomers_box p a:hover {
    opacity: 0.8;
    transition: all 0.5s ease 0s;
}
table.wishlist_mypage th {
    font-size: 11px;
}
table.wishlist_mypage td {
    font-size: 11px;
}
.rely {
    width: 100%;
    display: inline-block;
    margin: 1rem 0;
}
.rely:nth-of-type(1) {
    margin-top: 0 !important;
}
.rely a {
    background-color: #eb5504;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 12px;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: inline-block;
}
.rely a:hover {
    opacity: 0.8;
    transition: all 0.5s ease 0s;
}
.mypage_block.left span.btn {
    width: 80%;
    margin: 1rem 10%;
    display: inline-block;
    text-align: center;
}
.mypage_block.left span.btn a {
    background-color: #004f99;
    width: 100%;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    line-height: 3rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.mypage_block.left span.btn a:hover {
    opacity: 0.8;
    transition: all 0.5s ease 0s;
}
@media print, screen  and (min-width:741px){
.forsp{display:none!important;}
.br-pc {display:inline-block!important;}
.br-sp {display:none!important;}
body {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
	-webkit-text-size-adjust: none;
	font-size: 15px;
	color: #222;
}
a:hover img {
	opacity:0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
	background: #fff;
}
h1#logo {
    width: auto;
    float: left;
}
header {
    width: 100%;
    display: inline-block;
}
h1#logo img {
    height: 50px;
    padding: 10px 0;
    float: left;
}
ul#navi {
    width: auto;
    float: right;
    display: inline-block;
    padding: 10px 0;
}
ul#navi li {
    width: auto;
    display: inline-block;
    line-height: 50px;
    margin-left: 15px;
}
ul#navi li a {
    text-decoration: none;
    color: #222;
    font-weight: 700;
}
ul#navi li a:hover {
    color: #004e98;
    transition: all 0.5s ease 0s;
}
ul#navi_sp {
    display: none;
}
.mv_block {
    width: 100%;
    display: inline-block;
    background-image: image-url("bgi02v4.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 500px;
    min-width: 1024px;
    background-color: #f4e700;
}
h2.mv img {
    width: 80%;
    height: auto;
    margin: 5em 10%;
}
.mv_cont {
    width: 100%;
    display: inline-block;
    position: relative;
    height: 230px;
}
.mv_display {
    width: 580px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: #ffffffbd;
}
.mv_display img {
    width: 27%;
    float: left;
}
.mv_display h3 {
    width: 70%;
    float: right;
    font-size: 110%;
    font-weight: 700;
    line-height: 1.35em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #000;
    padding-bottom: 0.3em;
}
.mv_display dl {
    width: 70%;
    float: right;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.mv_display dt {
    width: 20%;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-weight: 700;
}
.mv_display dd {
    width: 80%;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.mv_bnr {
    width: 400px;
    position: absolute;
    right: 0;
    top: -100px;
}
.mv_bnr img {
    width: 100%;
}
.container {
    width: 1004px;
    margin: 0 auto;
    padding: 0 10px;
}
.flex_block {
    width: 100%;
    display: flex;
}
/*.items_box:nth-child(5n) {
    margin-right: 0;
}*/
.items_box:nth-of-type(5n) {
    margin-right: 0;
}
.google_map{
    position:relative;
    width:100%;
    height:0;
    padding-top:56.25%;
}
.google_map iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
#button_area {
    position: absolute;
    right: 10px;
    top: 15px;
}
#button_area button {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: 2px solid #3b6783;
    color: #3b6783;
	outline: none;
}
body.photo_movie_page .detail_box_left, body.photo_movie_page .detail_box.right {
    width: 70%;
    margin: 0 15% 1em 15%;
}
span.origin {
    position: absolute;
    top: 30%;
    left: 0;
    font-size: small;
    width: 90%;
    margin: 0 5%;
    text-align: center;
    padding: 5px;
    background-color: #ffffff85;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #3b6783;
}
.watch_area {
    position: absolute;
    right: 10px;
    bottom: 6rem;
    display: inline-block;
    width: 30px;
}
.watch_area a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 1px 0;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #3b6783;
    background: rgba(255,255,255,0.75);
}
.watch_area button.star {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 1px 0;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: rgba(255,255,255,0.75);
}
.bid_area {
    position: absolute;
    top: 1.2rem;
    right: 10px;
    font-size: 0.8rem;
}
.panel {
    width: 50%;
    margin: 0 25%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mypage_block ul.harf li a {
    font-size: 0.8rem;
}
button.btn-submit {
    width: 50%;
    margin: 0 25%;
}
.flex_style {
    display: flex;
}

#fixed_right_banner {
    position: fixed;
    right: 0;
    margin: 50vh auto 0;
    transform: translateY(-50%);
    top: 0px;
}
#fixed_right_banner img {
    width: 100%;
    float: left;
}
#fixed_right_banner img:hover {
    background-color: unset;
}
#fixed_right_banner > *
{
    clear: both;
    float: right;
    width: 80px;
    margin-right: -15px;
    -webkit-transition: margin .2s ease;
    transition: margin .2s ease;
}
#fixed_right_banner > * ~ * { margin-top: 20px; }
#fixed_right_banner > a
{
    display: block;
}
#fixed_right_banner > *:hover
{
    margin-right: 0;
}
#dl-menu {
    display: none;
}
@media (max-width: 1156px)
{
    #fixed_right_banner { display: none; }
}

}
@media screen and (max-width:740px){
img{max-width: 100%;height: auto;width /***/:auto;}
.forsp{display:inline-block!important;}
.forpc{display:none!important;}
.br-sp {display:inline-block!important;}
.br-pc {display:none!important;}
body {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
	-webkit-text-size-adjust: none;
	color: #222;
	font-size: 14px;
	overflow-x: hidden;
}
.container {
    width: 90%;
    margin: 0 5%;
}
header .container {
    width: 100%;
    margin: 0;
}
h1#logo {
    padding: 20px 0;
    text-align: center;
}
h1#logo img {
    display: inline-block;
    height: 40px;
}
/*ul#navi_sp {
    width: 100%;
    float: left;
    display: inline-block;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #d4d4d4;
}
header ul li {
    width: 20%;
    margin: 0;
    padding: 0;
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #d4d4d4;
}
ul#navi_sp li img {
    width: 100%;
    float: left;
    background-color: #f5f5f5;
    border: 2px solid #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*/
ul#navi {
    display: none;
}
.mv_block {
    width: 100%;
    display: inline-block;
    background-image: image-url("bgi02v4.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f4e700;
}
h2.mv {
    text-align: center;
}
h2.mv img {
    margin: 20px 0 5px 0;
}
.mv_display {
    width: 100%;
    display: inline-block;
    padding: 10px;
    background-color: #ffffffbd;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
.mv_display img {
    float: right;
    height: 82px;
    max-width: 30%;
}
.mv_display h3 {
    width: 70%;
    float: left;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 3px;
    margin-bottom: 10px;
    line-height: 25px;
}
.mv_display dl {
    margin: 0;
    width: 100%;
    display: inline-block;
    font-size: 12px;
}
.mv_display dt {
    width: 20%;
    float: left;
}
.mv_display dd {
    width: 80%;
    float: right;
    margin: 0;
}
.mv_bnr {
    width: 100%;
    display: none;
}
section h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0 1rem 0;
}
body.members section h2 {
    text-align: left;
    font-size: 1rem;
    line-height: 2rem;
}
dl.acMenu {
    padding: 10px 20px;
}
.acMenu dt {
    padding: 15px 0;
}
.acMenu dt span.date {
    width: 100%;
    float: left;
    line-height: 1em;
}
.acMenu dt span.arrow {
    padding: 5px 10px;
}
.nowrap {
    width: 100%;
    display: inline-block;
    overflow: auto;
    white-space: nowrap;
    font-size: 90%;
}
.search_block {
    overflow: auto;
    white-space: nowrap;
    font-size: 90%;
    margin-bottom: 1em;
}
.search_box {
    border: 1px dotted #bbb;
    padding: 10px;
    margin: 0 5px 0 0;
    background-color: #f5f5f5;
}
.items_box {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 10px;
    box-shadow: 3px 3px #d3d3d3;
}
.items_box:nth-child(3n) {
    margin-right: 0;
}
p.number {
    top: 6px;
}
.items_box a h3 {
    font-size: 0.8rem;
}
.items_box a p {
    font-size: 9px;
}
p.maker {
    display: none !important;
}
section.genre ul {
    width: 100%;
    margin: 0 0 10px 0;
}
.half_block {
    width: 100%;
    margin: 0 0 10px 0;
}
section.overview {
    display: inline-block;
}
.google_map {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.google_map iframe,.google_map object,.google_map embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.rule_block,.newcomers_block {
    padding: 20px;
}
section.pan ul {
    overflow: auto;
    white-space: nowrap;
}
section.pan ul li {
    font-size: 11px;
}
.detail_box_left {
    width: 100%;
}
.detail_box.right {
    width: 100%;
}
img#page_top {
    right: 10px;
}
footer p {
    font-size: 10px;
}
#button_area {
    position: absolute;
    right: 0;
    top: 0;
}
#button_area button {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 2px solid #3b6783;
    color: #3b6783;
	outline: none;
	padding: 6px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
span.origin {
    position: absolute;
    top: 30%;
    left: 0;
    font-size: 10px;
    width: 90%;
    margin: 0 5%;
    text-align: center;
    padding: 10px 5px;
    background-color: #ffffff85;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #3b6783;
}
section#headline {
    text-align: center;
    padding: 1rem 0;
}
section#headline ul li {
    margin: 0 0.1rem;
}
section#headline ul li a {
    font-size: 10px;
    padding: 8px 15px;
}
.watch_area {
    position: absolute;
    right: 5px;
    bottom: 5rem;
    display: inline-block;
    width: 20px;
}
.watch_area a {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    margin: 1px 0;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #3b6783;
    background: rgba(255,255,255,0.75);
}
.watch_area button.star {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    margin: 1px 0;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: rgba(255,255,255,0.75);
    padding: 0;
}
.bid_area {
    position: absolute;
    top: 11px;
    right: 5px;
    font-size: 0.6rem;
}
.bid_area a.n_btn {
    padding: 5px 10px;
}
table.formTable {
    padding: 10px;
}
table.formTable th {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
}
table.formTable td {
    width: 100%;
    margin-bottom: 25px;
    padding: 0;
}
input.wide-type-01 {
    width: 70% !important;
}
.form_block button.btn-submit {
    margin-bottom: 2rem;
}
ul.tab li a {
    line-height: 3rem;
    font-size: 0.7rem;
}
span.tab_head_text {
    font-size: 0.8rem;
    margin: 1rem 0;
}
.mypage_block.left {
    width: 100%;
}
.mypage_block.right {
    width: 100%;
}
ul.harf {
    width: 100%;
}
.newcomers_box {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
}
.newcomers_block h3 {
    font-size: 1rem;
    letter-spacing: .1em;
}
#fixed_right_banner {
    display: none;
}
}
}
